:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,body{
  width: 100%;
  height: 100%;
}

.parent{
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card{
  width: 300px;
  border: 2px solid white;
  text-align: center;
  background-color: #444;
  border-radius: 7px;
  padding: 13px;
}

.card > img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #242424;
  box-shadow: 5px 5px 5px;
}
.card > p{
  padding: 0 20px;
}
.card > button{
  padding: 8px 16px;
  background-color: #fff;
  color: #222;
  font-weight: 900;
  border-radius: 9px;
}